.container {
  transition: padding .2s ease-in-out;
}

@media (min-width: 1600px) {
  .container {
    padding: 0 15rem;
  }
}

@media (max-width: 1599px) and (min-width: 1200px) {
  .container {
    padding: 0 11.25rem;
  }
}

@media (max-width: 1199px) and (min-width: 700px) {
  .container {
    padding: 0 3.75rem;
  }
}

@media (max-width: 699px) {
  .container {
    padding: 0 25px;
  }
}
