.Logo {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
  color: black;
  text-align: left;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Share Tech Mono", monospace;

  user-select: none;
}

@media (max-width: 1199px) {
  .Logo {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 1em;
    width: 100px;
    text-align: center;
    font-size: 1.4rem;
  }
}
