.card {
  display: flex;
  margin-bottom: 2rem;
  min-height: 90px;
  width: calc(33% - 1rem);
  border: 1px solid #f0f0f0;
  color: initial;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, .15);
}

.card-cover {
  width: 160px;
  background-position: center;
  background-size: cover;

  flex-shrink: 0;
}

.card-details {
  box-sizing: border-box;
  padding: 1rem;

  flex-grow: 1;
}

.card-title {
  margin: 0 0 1em;
  padding: 0;
  font-size: 1.1em;
}

@media (max-width: 1600px) {
  .card {
    width: calc(50% - 1rem);
  }
}

@media (max-width: 900px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .card {
    flex-direction: column;
    width: 100%;
  }

  .card-cover {
    width: 100%;
    padding-bottom: 56.25%;
    background-position: top center;
  }
}
