.Nav {
  position: relative;
  left: -2.5rem;
  display: flex;
}

.NavItem {
  display: block;
  padding: 2.3rem 2.5rem 3rem;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 0;

  user-select: none;
}

.cNavItem:first-child {
  padding-left: 0;
}

.NavItem.active .indicator {
  width: 100%;
  border-width: 1px;
}

.NavItem .itemTitle {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Share Tech Mono", monospace;
}

.NavItem .indicator {
  display: inline-block;
  margin-top: .3rem;
  width: 0;
  border-top: solid 2px black;
  transition: width .15s linear;
}

.NavItem:hover .indicator {
  width: 100%;
  border-width: 2px;
}

@media (max-width: 1199px) {
  .Nav {
    display: none;
  }
}
