.Nav {
  position: relative;
  left: -2.5rem;
  display: flex;
  background-color: white;
}

.NavItem {
  display: block;
  padding: 2.3rem 2.5rem 3rem;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 0;

  user-select: none;
}

.NavItem.active .indicator {
  width: 100%;
  border-bottom-color: transparent;
}

.NavItem .itemTitle {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Share Tech Mono", monospace;
}

.NavItem .indicator {
  display: inline-block;
  margin-top: .3rem;
  width: 0;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  transition: width .15s linear;
}

.NavItem:hover .indicator {
  width: 100%;
  border-bottom-color: black;
}

@media (max-width: 1199px) {
  .Nav {
    left: initial;

    justify-content: space-between;
  }

  .NavItem {
    padding: 1rem 0;
  }
}


@media (min-width: 1600px) {
  .Nav {
    padding: 0 15rem;
  }
}

@media (max-width: 1599px) and (min-width: 1200px) {
  .Nav {
    padding: 0 11.25rem;
  }
}

@media (max-width: 1199px) and (min-width: 700px) {
  .Nav {
    padding: 0 3.75rem;
  }
}

@media (max-width: 699px) {
  .Nav {
    padding: 0 25px;
  }
}
